input.mail {
    -webkit-appearance: none;

    width: 100%;
    border: 1px solid #333;
    margin: 0;

    font-family: inherit;
    font-size: 90%;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* This is our style for the invalid fields */
input.invalid{
    border-color: #900;
    background-color: #FDD;
}

input:focus.invalid {
    outline: none;
}

/* This is the style of our error messages */
.error {
    width  : 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}

body{
    color: white;
}

div#main_container{
    background-color:rgba(0, 0, 0, 0.65);
    padding: 25px 20px;
}

div.table_of_contents{
    background-color:rgba(0, 0, 0, 0.7);
    display: table;
    padding-left: 10px;
    padding-right: 20px;
    border: 1px solid;
    text-align: left;
    line-height: 1.65;
    font-size: 1.5em;
    font-style: italic;

}



hr{
    border: 4px solid;
    width: 100%;
    margin-top: 25px;
}

hr#header_hr{
    border: 8px solid;
    margin-bottom: 80px;
    width: 35%;
}

.list_of_h3 hr {
    border: 2px solid gray;
    width: 80%;
}


a:link {
    color: blueviolet;
}

.table_of_contents a:visited {
    color: dodgerblue;
}

.table_of_contents a:link
{
    color: dodgerblue;
}

a:visited {
    color: darkslateblue;
}



a:active {
    color: red;
}


.table_of_contents a:active{
    color: red;
}

p {
    text-align: justify;
    text-indent: 30px;
    font-size: 1.75em;
}


h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    font-size: 3em;
    text-align: left;
}

h3 {
    font-size: 2em;
    text-align: left;
}

ul {
    font-size: 1.5em;
}


